tr,
td,
table {
  border: 1px solid black;
  border-collapse: collapse;  
}
td {
  padding: 10px;
}

table {
  margin: 30px;
}

table tbody tr:first-child {
  font-weight: bold;
}

.zebraStripe {
  background-color: black;
  color: white;
}

tr{
    transition: all 0.5s ease-out;
}